#first{
    background-color: #ed624f
}
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
h1{
    position: relative;
}
.info{
    border-radius: 10px;
    text-align: center;
    display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: space-evenly;

    
}
#height{
    margin: 2%;
     
}
#weight{
    margin: 2%;
}
#age{
    margin: 2%;
}
#gender{
    margin: 1.5%;
    box-sizing: border-box;
}
#activity{
    margin: 1.5%;
    box-sizing: border-box;
}
#card{
    display: flex;
    justify-content: space-evenly;
}
img{
    width: 100px;
}
#recepi{
    height: 100px;
    display: block;
}
#recepi-list{
    height: auto
    
}
#list-of-ingredients{
    flex: 1 1 30%;
    list-style: none;
    padding: 0px 20px;
    overflow: auto;
}
#steps{
    flex: 1 1 30%;
    list-style: none;
    padding: 0px 20px;
    overflow: auto;
}
#equipment{
    flex: 1 1 30%;
    list-style: none;
    padding: 0px 20px;
    overflow: auto;
}
footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    height: 70px;
}
#breakfast-name{
    overflow: hidden;
}
